<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Объявление</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/portal/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/static/portal/css/style.css" />
    <link
      href="/static/portal/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link href="/static/portal/css/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/portal/css/plugin-window.min.css" />
  </head>

  <body>
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <div class="row">
                    <h1 style="text-align: center; padding: 10px;">Прекрасно, теперь можете пользовать интернетом РРР!!!<h1>
                    <div style="width: 320px; height: auto;">
                        <img  src={{img}} alt="Милый динозаврик">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
