<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Объявление</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/portal/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/static/portal/css/style.css" />
  </head>

  <body>

    <div class="overlay"></div>
    <div class="wrapper">

      <div class="adv">
        <h1 style="margin-top: 25px; margin-bottom: 25px;" > {{advertisement.header}} </h1>
        <div class="message" id="message">
        </div>
        <script>
            document.querySelector("#message").innerHTML = `{{advertisement.message|safe}}`;
            let images = document.querySelectorAll("#message img");
            images.forEach( image => {
              image.style.width = "auto";
              image.style.maxHeight = "500px";
            });
          </script>
      </div>
    </div>
  </body>
</html>
