{% extends 'base.html' %} {% block content %}
<div class="container-fluid" style="min-height: calc(100vh - 170px)">
  Page Heading
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Оплата счета</h1>
  </div>

  <div class="row row-flex">
    <div class="card col-md-8 mx-auto p-0">
      <div class="card-header bg-gray-100">
        <h3 class="h3 text-primary text-center">Перейти к оплате</h3>
      </div>
      <div class="p-2 p-md-5 card-body text-center d-flex justify-content-center align-items-center flex-column">
        <svg width="160px" height="160px" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512">
          <defs>
            <style>
              .cls-1 {
                fill: #eff2f4;
              }

              .cls-2 {
                fill: #40c168;
              }

              .cls-3 {
                fill: #141f38;
              }
            </style>
          </defs>
          <title>credit-card-back-filled</title>
          <rect class="cls-1" x="12.8" y="102.4" width="486.4" height="307.2" rx="51.08" ry="51.08" />
          <rect class="cls-2" x="12.8" y="166.4" width="486.4" height="51.2" />
          <path class="cls-3"
            d="M448,89.6H63.85A64,64,0,0,0,0,153.45V358.55A64,64,0,0,0,63.85,422.4H448.15A64,64,0,0,0,512,358.55v-205A64.19,64.19,0,0,0,448,89.6ZM25.6,153.51A38.31,38.31,0,0,1,63.91,115.2H448a38.44,38.44,0,0,1,38.4,38.4H25.6ZM486.4,179.2v25.6H25.6V179.2Zm0,179.29a38.31,38.31,0,0,1-38.31,38.31H63.91A38.31,38.31,0,0,1,25.6,358.49V230.4H486.4ZM64,294.4a12.8,12.8,0,0,1,12.8-12.8h76.8a12.8,12.8,0,0,1,0,25.6H76.8A12.8,12.8,0,0,1,64,294.4Zm0,51.2a12.8,12.8,0,0,1,12.8-12.8H217.6a12.8,12.8,0,0,1,0,25.6H76.8A12.8,12.8,0,0,1,64,345.6Z" />
        </svg>
        <p style="font-size: 1.25rem" class="mb-5">
          Для оплаты нажмите на кнопку ниже. Вы будете перенаправлены на страницу сервиса ROBOKASSA.
        </p>
        <button id="payment-button" class="btn btn-lg btn-primary" data-toggle="tooltip" data-placement="bottom"
          title="Перейти к оплате" type="submit" data-original-title="Перейти к оплате">
          Оплатить
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelector('#payment-button').addEventListener('click', () => {
    fetch('/payment-get-data/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
      },
      body: 'product=license&email={{user.email}}',
    })
      .then((res) => res.json())
      .then((j) => {
        let form = document.createElement('form');
        form.action = 'https://auth.robokassa.ru/Merchant/Index.aspx';
        form.method = 'POST';

        form.innerHTML = `
          <input type="hidden" name="MerchantLogin" value="${j.login}" />
          <input type="hidden" name="IsTest" value="${j.IsTest}" />
          <input type="hidden" name="OutSum" value="${j.sum_of_order}" />
          <input type="hidden" name="InvId" value="${j.number_of_order}" />
          <input type="hidden" name="Receipt" value="${j.receipt}" />
          <input type="hidden" name="Description" value="${j.order_description}" />
          <input type="hidden" name="SignatureValue" value="${j.signature}" />
          <input type="hidden" name="Culture" value="${j.language}" />
          <input type="hidden" name="Email" value="${j.email_buyer}" />
          <input type="hidden" name="Encoding" value="${j.encoding}" />
          <input type="submit" value="Оплатить" />`;

        // перед отправкой формы, её нужно вставить в документ
        document.body.append(form);
        form.submit();
      });
  });
</script>
{% endblock %}